

#google-homepage-clickable{

}
#google-searchbar{

}
#google-connect{

}
#google-top-nav-bar{

}

#first-result-box{
  
}

#people-ask-box{
display:grid;
padding:0em;
}
/* (:not:first-child, :not:last-child) */
#people-ask-box *:not(:last-child) {
 border-bottom: 1px solid lightgrey; 
 
}

#people-ask-box *{
padding:1em;
}
#video-results{
  
}
#related-search-feedback{
  
}

#related-search{

}

#page-count-box{

}

#nav-bar-bottom-1{

}
#nav-bar-bottom-2{
    
}
#bar-nav{
  
}


#list-nav > *{
  display: inline-block;
  list-style-type: none;
}

/* $CLASSES */

/* $basic */

form{
  min-height:40px;
  max-height:50px;
 margin: 0px;
 justify-content:middle;
 text-align:center;
 border:2px solid lightgrey;
border-radius: 5% / 50%;
background-color:red;
 height:100%;
 width:100%;
 background-color:;
}
form:hover {
   box-shadow: 0px 7px 10px  #666666;
}
span  {
 vertical-align:middle;
}

input{
 display:inline;
align-items:center;
    min-height:10px;
  max-height:30px;

 font-size:20px;
margin-top: 5px;
width:70%;
float:left;
margin-left:3%;
}

main, footer{
  padding-left:10%;
  padding-right:50%;
  background-color: yellow;
}
main *{

  font-family: arial, sans-serif;
  background-color: ;
  font-size: 16px;
}
/* affacets all div except first divs and google123*/
main * :not(:last-child){margin:8px 0 7px 0px;}
main > div {
  margin: 0 0 40px;
  line-height:130%;
}


li {
  display: inline-block;
  font-size: 14px;
}
a{
font-size: 1.3em;
}

img {
  display:inline-block;
  background:blue;
}
h1 {
  margin:0;
  font-size:20px;
  font-weight:lighter;
}
header  div{
  display:inline-block;
  vertical-align:middle;
  background-color:pink;
  width:100%;

}

header {
  border-bottom:1px solid grey;

}

footer {
  font-size:14px;
  background-color:#eee
}
footer span {
  margin-right:10px;
}
footer div {
  padding: 6px;
}


/*$general */

    .google-img {
      padding: 20px 5px 20px 15px;
        display:inline-block;
      vertical-align:middle;
      max-height:55px;
      width:125px;
    background-color:blue;
      display:inline;
    }
  
   
    
    .search-bar{
        display:inline-block;
       height:100%;
       min-height:30px;
       max-height:45px;
      width:65%;
      margin-left:25px;
      justify-content:middle;
      text-align:center;
    
    }
    .buttons{
      display:inline-block;
      justify-content:middle;
        vertical-align:middle;
      background-color:blue;
    
      width:8%;
     margin-top: 10px;
    }
    
    .buttons img{
      height:25px;
      float:right;
      width:25px;
      
    }
    .nav{
      
      display:inline-block;
      width:60%;
      background-color:green;
    }
    
    .nav-right button{
      margin-bottom:10px;
      color:white;
      background-color:hsl(226, 100%, 61% );
      height:50px;
      width:88px;
      border: 1px solid  hsl(226, 100%, 61% );
      border-radius:8%;
    }
     .nav-right button:hover{
      background-color:hsl(226, 100%, 65% );
      border: 1px solid  hsl(226, 100%, 65% );
    }
    .nav-right-img{
      position:relative;
      top:8px;
      margin-right:8px;
     margin-top:20px;
    }
    .sub-nav-bar{
      display:inline-block;
      padding-left:170px;
      margin-bottom:3px;
    }
      .sub-nav-bar *{
      display:inline;
    }
        .sub-nav-bar img{
          display:inline;
    float:left;
     max-width:20px;
    }
    .icon-n-button{
      display:inline-block;
      background-color:white;
      margin-left:7px;
      font-size:15px;
      width:auto;
      min-width:4%;
    } 

    .highlight{
      box-shadow: 0px 5px 0 #3384c5c4

    }
    .icon-n-button *{
    text-align:middle;
    }
    .icon-n-button-right {
      margin-left:20px;
      font-size:15px;
        
      width:5.5%;
    }
     .icon-n-button-right *{
       margin-left:15px;
        background-color:white;
     }
.ul-space > li:not(:last-child){
  margin: 0 10px 0 0;
}


.icon-google{
  display:inline;
  max-width:16px;
    min-width:16px;
}
  
.generic-box-set{
  display:block;
  font-family:arial, sans-serif;
  background-color: yellow;

} 
.generic-box-set > *{
  margin: 0 0 8px 0;
}


.generic-inbox-text {
    font-size:1.1em;
  padding:0 0 1em 0;
  background-color:white;
  margin: 0 0 8px 0;
}

.generic-web-adress{
  margin:0 0 5px;
}





.big-box{
 border: 1px solid lightgrey; 
 border-radius: 10px ;
 padding:1em;
}

.big-box * {

  background-color: ;
}
.img-box{
  font-size:8px;
  display:block;

  background-color:;
}

.img-box img{
  display:block;
  vertical-align:top;
  /* chose 10 em cause of low res images */
  max-width:6em;
}
.img-box div{
  font-size:14px;
  font-weight:lighter;
}
.img-box-line{
  
}
.img-square{
text-align:center;
vertical-align:top;
display:inline-block;
/* 100/7elements=13 */
max-width:13%; 
background-color:;
margin-right:8px;

}
.img-square *{
  background-color:green;
  max-width:100%;
}




.img-square > img{

}
.related-box {
  display:block;
  width:100%;
}

.related-box h1{
  margin-bottom:1em;
}
.related-sub-box div{
display:inline-block;
    margin-right:0px;
    width:35%;
}
.related-sub-box *{
display:block;
width:100%;
    margin: 0 0 1em 0;
    font-size:15px;
    font-weight:bold;
    background-color:green;
}
.bar-page-google{
 margin:0;
  display:inline-block;
   justify-content:center;
 padding: 0 15% 0 15%;
 background-color:blue;

}

.page-icon {
  display:inline-block;
background-color:;
  margin:0px;

}
.page-icon .img-square{
max-width:4%;
background-color:pink;
}

.page-icon .img-square img{
  min-width:100%;
display:block;
vertical-align:top;
background-color:red;

}
.img-square.google-bar-next{
  margin:0;
}
/* $generic */ 
.nav-bar{
display:inline-block;
width:100%; 
background-color:;
margin:0;
padding:0;

}
.bottom-bar{
  line-height:normal;
  margin: 0;
}
.nav-bar-left{
float:left;
}

.nav-bar-right{
float:right;
}

.nav-bar-text {

}

.nav-bar-space{
  max-height:25px;
  margin-top: -5px;


}
nav-bar-space *{
  max-height:25px;
  margin-top: 0px;


}
    
.nav-right {
  margin-top:10px;
  display:inline-block;
  background-color:pink;
  float:right
}

.nav-right img{
width:25px;
}

.nav-right *{
margin-right:20px;
}
/* $extra changes*/

ul {margin-top:2px}

#footer2 span{
  background-color;
margin-right: 30px;
}