

#google-homepage-clickable{

}
#google-searchbar{

}
#google-connect{

}
#google-top-nav-bar{

}

#first-result-box{
  
}

#people-ask-box{
display:grid;
padding:0em;
}
/* (:not:first-child, :not:last-child) */
#people-ask-box *:not(:last-child) {
 border-bottom: 1px solid lightgrey; 
 
}

#people-ask-box *{
padding:1em;
}
#video-results{
  
}
#related-search-feedback{
  
}

#related-search{

}

#page-count-box{

}

#nav-bar-bottom-1{

}
#nav-bar-bottom-2{
    
}
#bar-nav{
  
}
#list-nav > *{
  display: inline-block;
  list-style-type: none;
}

/* $CLASSES */

/* $basic */
body div{
  margin: 0 0 40px;
}
main{
  background-color: yellow;
}
main *{

  font-family: arial, sans-serif;
  background-color: ;
  font-size: 16px;
}
li {
  display: inline-block;
  font-size: 14px;
}
a{
font-size: 1.3em;
}

h1 {
  margin:0;
  font-size:20px;
  font-weight:lighter;
}
/*$general */
.ul-space > li:not(:last-child){
  margin: 0 10px 0 0;
}


.icon-google{
  display:inline;
  max-width:16px;
    min-width:16px;
}
  
.generic-box-set{
  display:block;
  font-family:arial, sans-serif;
  background-color: yellow;

} 
.generic-box-set > *{
  margin: 0 0 8px 0;
}


.generic-inbox-text {
    font-size:1.1em;
  padding:0 0 1em 0;
  background-color:white;
  margin: 0 0 8px 0;
}

.generic-web-adress{
  margin:0 0 5px;
}

.big-box{
 border: 1px solid lightgrey; 
 border-radius: 10px ;
 padding:1em;
}

.big-box * {

  background-color: ;
}
.img-box{
  font-size:8px;
  display:block;

  background-color:;
}

.img-box img{
  display:block;
  vertical-align:top;
  /* chose 10 em cause of low res images */
  max-width:6em;
}
.img-box div{
  font-size:14px;
  font-weight:lighter;
}
.img-box-line{
  
}
.img-square{
text-align:center;
vertical-align:top;
display:inline-block;
/* 100/7elements=13 */
max-width:13%; 
background-color:;
margin-right:8px;

}
.img-square *{
  width:100%;
}




.img-square > img{

}
.related-box {
  display:block;
  width:100%;
}

.related-box h1{
  margin-bottom:1em;
}
.related-sub-box div{
display:inline-block;
    margin-right:0px;
    width:35%;
}
.related-sub-box *{
display:block;
width:100%;
    margin: 0 0 1em 0;
    font-size:15px;
    font-weight:bold;
    background-color:green;
}
.bar-page-google{
 justify-content:center;
 margin:0 15% 0 0;
 background-color:blue;
}
.page-icon .img-square{
max-width:4%;
}
/* $generic */ 
.nav-bar{
display:inline-block;
width:100%; 
background-color:;
margin:0;
padding:0;

}
.bottom-bar{
  margin: 0;
}
.nav-bar-left{
float:left;
}

.nav-bar-right{
float:right;
}

.nav-bar-text {

}

.nav-bar-space{
  max-height:30px;
}
